/*---------------------GENERAL---------------------*/
:root{
    --color1: rgb(26, 43, 39); 
    --color2: rgb(191, 255, 244);
}

*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/*---------------------HEADER---------------------*/

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 10px 5px;
    align-items: end;
    border-bottom: 1px solid #ddd;
    column-gap: 10px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span{
    font-size: 1.2rem;
    color: var(--color1);
}

/*---------------------NAV HAM---------------------*/

.hamburger{
    background-color: #ccc;
    border: none;
    color: var(--color1);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

.hamburger::after{
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after{
    content: "\00d7";
    font-size: 2rem;
}

/*---------------------NAV BAR---------------------*/

.navigation{
    display: none;
}

.navigation.show{
    display: block;
    grid-column: 1/4;
}

.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--color1);
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.navigation li.current{
    background-color: #eee;
}

.navigation a:hover{
    background-color: var(--color2);
}

/*---------------------MAIN---------------------*/

.btns{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.gridBtn, .listBtn{
    border: 1px solid var(--color1);
    border-radius: 10px;
    color: var(--color1);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gridBtn::after{
    content: "\25A6";
    font-size: 2rem;
}

.listBtn::after{
    content: "\2261";
    font-size: 2rem;
}

.gridBtn:hover, .listBtn:hover{
    background-color: var(--color2);
}

/*---------------------GRID---------------------*/

.grid {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto 1rem auto; /* centrado horizontal */
  max-width: 1500px; /* límite para evitar que se expandan demasiado */
  padding: 1rem;
}

.grid section {
	padding: 1rem 5rem;
    margin: 0 auto 1rem auto;
    max-width: 300px;
	background-color: #fff;
	box-shadow: 0 10px 9px #777;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.grid img {
    margin: 1rem 5px;
}

.grid .compName{
    display: none;
}

.grid p{
    margin: 5px;
}

.grid .details{
    display: none;
}

/*---------------------LIST---------------------*/

.list {
	display: flex;
	flex-direction: column;
    margin-bottom: 1rem;
}

.list section {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) repeat(3, minmax(50px, 1fr));
  margin: 0 1rem;
  padding: 0.25rem 1rem 2rem 1rem;
  align-items: center;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section h3 {
  font-size: 1rem;
}

.list section:nth-child(even) {
  background-color: var(--color2);
}


.list section p {
  font-size: 1rem;
  margin: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list .link{
    display: none;
}


/*---------------------FOOTER---------------------*/

footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 22px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #ddd;
}

footer p{
    display: block;
    margin: 10px;
}
