:root{
    --color1: rgb(26, 43, 39); 
    --color2: rgb(191, 255, 244);
}

*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/*---------------------HEADER---------------------*/

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 10px 15px 10px;
    align-items: end;
    border-bottom: 1px solid #ddd;
    column-gap: 10px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span{
    font-size: 1.2rem;
    color: var(--color1);
}

/*---------------------NAV HAM---------------------*/

.hamburger{
    background-color: #ccc;
    border: none;
    color: var(--color1);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

.hamburger::after{
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after{
    content: "\00d7";
    font-size: 2rem;
}

/*---------------------NAV BAR---------------------*/

.navigation{
    display: none;
}

.navigation.show{
    display: block;
    grid-column: 1/4;
}

.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--color1);
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.navigation li.current{
    background-color: #eee;
}

.navigation a:hover{
    background-color: var(--color2);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid var(--color1);
    margin: 5rem 0;
}

/*---------------------FOOTER---------------------*/

footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 22px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #ddd;
}

footer p{
    display: block;
    margin: 10px;
}

@media only screen and (min-width: 38rem){
    /*---------------------HEADER---------------------*/

    header {
        display: flex;
        align-items: center;
        padding: 1.5rem 5rem 1rem 5rem;
    }

    header img{
        width: 24px;
        height: auto;
    }

    .hamburger{
        display: none;
    }

    /*---------------------NAV BAR---------------------*/

    .navigation{
        display: block;
        margin-left: auto;
    }

    .navigation li.current{
        text-decoration:underline;
    }

    .navigation ul{
        display: flex;
    }

    .navigation a{
        border: none;
    }
    
    /*---------------------FOOTER---------------------*/

    footer{
        display: flex;
        justify-content: center;
        gap: 8rem;
    }

    .datainfo{
        display: block;
        text-align: left;
    }

    .info{
        display: block;
        text-align: right;
    }
}