@media only screen and (min-width: 38rem) {

    /* ----------------GENERAL---------------- */

    header, main, nav, footer{
        max-width: 1320px;
        margin: 0 auto;
    }

    /* ----------------HEADER---------------- */

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger{
        display: none;
    }

    .navigation{
        display: block;
        border-bottom: 1px solid #eee;
    }

    .navigation ul{
        display: flex;
    }

    .navigation a{
        border: none;
    }

    /* ----------------MAIN---------------- */

    main{
        display: grid;
        grid-template-columns: 440px auto 440px;
    }

    h1{
        margin: 5px auto 2px 10px;
    }

    /* ---------------- ABOUT SECTION---------------- */

    .about{
        grid-column: 1/3;
        width: 97%;
        margin: 5px;
    }

    /* ----------------PHOTO SECTION---------------- */

    .photo{
        grid-column: 3/4;
        width: 95%;
        margin: 5px;
    }

    .photo img{
        padding: 5px;
    }

    /* ----------------CERTIFICATES SECTION---------------- */

    .webCC{
        grid-column: 1/4;
        margin: 5px;
    }

    .webCC .certificates{
        column-gap: 3rem;
    }

    .webCC .certificates button{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }

    .webCC p{
        margin: 2px;
    }

    .courseList ul{
        display: flex;
    }

    .courseList ul li{
        width: 100%;
        margin: 5px 2px;
    }

    /* ----------------FOOTER---------------- */

    footer{
        padding: 0;
    }
}